.answer-list {
  border-bottom: 1px solid #efefef;
  padding-left: 16px;
}




.answer-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  // border-bottom: 1px solid  #e2e2e2;
  font-weight: 400;

  .answer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .answer-vote-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-right: 10px;

    .answer-upvote-button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 25px;
      margin-right: 10px;
      color: #2b6dad;
      font-size: 13px;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      text-align: center;
      font-weight: 500;
      background: #f1f8fb;
      border: 1px solid #bbcadc;
      box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
      border-radius: 3px;
      box-sizing: border-box;
    }

    .upvote-text {
      padding-right: 5px;
      border-right: 1px solid #bbcadc;
    }

    .answer-upvoters {
      padding-left: 5px;
    }





    .answer-downvote_button:focus {
      border: none;
    }
  }

}

.answer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;

  img {
    height: 42px;
    border-radius: 50%
  }
}

.answer-details {
  display: flex;
  flex-direction: column;
  display:block;
  overflow:hidden;
  margin-left: 10px;

  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 16px;

  h2 {
    font-size: 13px;
  }

}

.answer-body {
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 10px;
}

.answer-downvote-button, .comments-button {
  background:none;
  color: #999999;
  border:none;
  padding:0;
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

.comments-button {
  margin-bottom: 10px;
}

.comments-button:hover {
  text-decoration: underline;
}



.ql-editor {
  min-height: 150px;
}
