.answer-list {
  border-bottom: 1px solid #efefef;
  padding-left: 20px;
  padding-right: 16px;
}

.answer-item {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  // border-bottom: 1px solid  #e2e2e2;
  font-weight: 400;

    .answer-buttons {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
}

.answer-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;

  img {
    height: 42px;
    width: 42px;
    border-radius: 50%
  }
}

.answer-details {
  display: flex;
  flex-direction: column;
  display:block;
  overflow:hidden;
  margin-left: 10px;

  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 16px;

  h2 {
    font-size: 13px;
  }
}

.answer-body {
  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 10px;
  img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
  }

  ul {
    list-style-position: inside;
  }
  li {
    list-style-type: circle;
    list-style-position: inside;
    margin-left: 15px;
  }

  ol>li {
    list-style-type: decimal;
    margin-top: 10px;
  }

}


.ql-editor {
  min-height: 150px;
}

.no-answers-message {
  padding: 16px;
  padding-left: 0;
  font-weight: 400;
  font-size: 14px;
}

.answer-form-container {
  width: 100%;
}
