/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 html, body {
   margin: 0;
   height: 100%;
 }

::-webkit-input-placeholder {
   color: #757575;
   font-weight: 300;
   font-size: 14px;
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

:-ms-input-placeholder {
  color: #757575;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

:-moz-placeholder {
  color: #757575;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

::-moz-placeholder {
  color: #757575;
  font-weight: 300;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
   text-decoration: underline;
   cursor: pointer;
}

li {
   list-style-type: none;
 }

 ul {
   padding: 0;
 }
