.comments {
  background-color: #F6F6F6;
  padding: 5px;
  border: 1px solid #e2e2e2;

  .comment-form {
    display: flex;
    align-items: center;
    input {
      height: 25px;
      width: 425px;
      padding-left: 7px;
      margin-right: 16px;

      border-radius: 1px;
      border: 1px solid #e2e2e2;
      font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
      font-size: 13px;
      line-height: 1.5;

    }

    button {
      background: #3e78ad;
      font-size: 13px;
      font-weight: 500;
      height: 27px;
      width: 75px;
      border: 1px solid #3a66ad;
      color: white;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      border-radius: 3px;
      padding: 3px, 7px, 4px, 7px;
      box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    }
  }

  .comment-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: 15px;

    img {
      height: 32px;
      border-radius: 50%;
      margin-right: 8px;
    }

    h1 {
      font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
      font-weight: bold;
      line-height: 1.5;
    }

    h2 {
      color: #999;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }
  }

  .comment-body {
    margin-left: 40px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    tab-size: 4;
    word-wrap: break-word;
    font-size: 13px;

  }




}
