
.ReactModal__Body--open {
   overflow-y: hidden;
}


.ReactModal__Content--after-open.cancel-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: auto;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  p {
    margin-right: 30px;
  }
  i:hover {
    cursor: pointer;
  }
  a {
    font-weight: bold;
    font-size: 15px;
  }

  a:hover {
    text-decoration: none;
    color: #3e78ad;
  }
}


.ReactModal__Content--after-open {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;

  img {
    height: 35px;
    border-radius: 50%;
    margin-top: 33px;
    margin-left: 33px;
  }

  span {
    color: #999999;
    font-size: 16px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 33px;
    margin-left: 7px;
  }


  input {
    border: none;
    border-bottom: 1px solid #e2e2e2;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 33px;
    margin-right: 33px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro",serif;
  }

  .question-modal-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%
  }

  div.question-modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #F6F6F6;
    height: 100%;
    padding-right: 33px;
    border-top: 1px solid #e2e2e2;

    #ask-question-button {
      background: #3e78ad;
      font-size: 15px;
      font-weight: 500;
      height: 35px;
      width: 112px;
      border: 1px solid #3a66ad;
      color: white;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      border-radius: 3px;
      padding: 3px, 7px, 4px, 7px;
      box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
    }

    #cancel-button {
      background:none;
      color: #999999;
      border:none;
      padding:0;
      margin-right: 20px;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro",serif;
    }

    #cancel-button:hover {

      text-decoration: underline;
    }

  }

}

#cancel-modal {
  background-color: red;
}
