.greeting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: white;
  border-radius: 4px;
  border: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;

  button {
    background:none;
    color: #999;
    border:none;
    padding:0;
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-size: 18px;
    line-height: 1.3;
    font-weight: bold;
    cursor: pointer;
  }

  button:hover {
    color: #2b6dad;
  }
}

.greeting-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    height: 18px;
    border-radius: 50%;
  }
  span {
    margin-left: 5px;
    color: #999;
    font-size: 14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  }
  margin-bottom: 7px
}
