.question-search-list {
  background: white;
  border: 1px solid #efefef;
  position: absolute;
  padding: 5px;
  margin-top: 20px;
  z-index: 9000;
  width: 400px;

}

.question-search-list:empty {
  display: none;
}

.question-search-bar {
  width: 40vw;
  min-width: 300px;
  overflow-x: hidden;
  word-wrap: break-word;
  height: 29px;
  background-image: url(//qsf.ec.quoracdn.net/-3-images.new_grid.QuoraSearch_2x.png-26-f131488ab1e6a729.png);
  background-repeat: no-repeat;
  background-position: 8px, 50%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 26px;
  background-size: 13px;
  box-shadow: inset 0 3px 3px -3px rgba(200,200,200,0.3);
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.4;
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #333333;
}

.question-search-bar:focus {
  outline:0;
}
