.question-detail-item {


  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: white;

  h2.question-header {
    font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
    font-weight: bold;
    font-size: 23px;
    word-wrap: break-word;
    line-height: 1.3;

    padding-top: 15px;
    padding-left: 16px;

  }

  .question-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    padding-left: 16px;
    margin-top: 10px;
    position: relative;

    .link-button {
      font-size: 14px;
    }

  }

  .tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 16px;
    margin-bottom: 15px;
    margin-top: 5px;
    a {
      color: #808391;
      background-color: #F4F4FA;
      margin-right: 10px;
      padding: 5px 5px 5px 5px;
      border-radius: 12px;
    }

    a:hover {
      text-decoration: none;
      background-color: #eeeeee;
    }
  }

  .answer-list {
    border: none;
    padding-bottom: 10px;
  }

  .answer-header {
    border-top: 1px solid #e2e2e2;
    padding-top: 10px;
  }

  .answer-item {
    padding-bottom: 0;
  }

  #question-detail-follow {
    position: absolute;
    left: 179px;
    top: 6px;
  }

  #question-detail-downvote {
    position: absolute;
    left: 98px;
    top: 6px;
  }

  .quill {
    width: 568px;
  }

  .ql-toolbar.ql-snow, .ql-container.ql-snow {
    border-left: 0;
    border-right: 0;
  }

  .answer-form {
    border: 1px solid #e2e2e2;
    margin-top: 10px;

    .answer-header {
      background-color: #F6F6F6;
      border: 0;
      padding-left: 10px;
      padding-bottom: 10px;

    }

    .answer-form-footer {

      padding: 10px;
      background-color: #F6F6F6;
    }
  }


}
