.question-item {

  margin-top: 10px;

  font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
  line-height: 1.3;
  font-weight: bold;
  font-size: 18px;
  word-wrap: break-word;

}


.question-header {
  padding-left: 16px;
}

//this makes word wrap respect padding
a.question-header {
  display: block;
}
