.question-search-list {
  background: white;
  border: 1px solid #efefef;
  position: absolute;
  margin-top: 20px;
  z-index: 9001;
  width: 400px;
  box-shadow: 0 1px 7px rgba(0,0,0,0.1);
  border-radius: 3px;
}

//need li to be more specific than .navbar li
li .question-list-item {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 15px;
  padding: 8px 12px;
  padding-right: 10px;
  font-weight: 400;
  border-bottom: 1px solid #e2e2e2;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  a {
    width: 100%;
  }
  a:hover {
    text-decoration: none;
  }
}

li .fa-angle-right {
  font-size: 20px;
  color: #e2e2e2;
  padding-left: 3px;
}

li .question-list-item:hover {
  background-color: #ececec;
  text-decoration: none;
  color: #2b6dad;

}

.question-search-list:empty {
  display: none;
}

.question-search {
  width: 100%;
  max-width: 400px;
}

.question-search-bar {
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
  height: 29px;
  background-image: url(//qsf.ec.quoracdn.net/-3-images.new_grid.QuoraSearch_2x.png-26-f131488ab1e6a729.png);
  background-repeat: no-repeat;
  background-position: 8px, 50%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 26px;
  background-size: 13px;
  box-shadow: inset 0 3px 3px -3px rgba(200,200,200,0.3);
  box-sizing: border-box;
  font-size: 13px;
  line-height: 1.4;
  display: block;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  color: #333333;
}

.question-search-bar:focus {
  outline:0;
}
