#questions-container {
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  background: white;
  width: 600px;

  h1 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 16px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    i {
      font-size: 20px;
      background-color: #AB3830;
      color: white;
      border-radius: 3px;
      padding: 2px;
      margin-right: 6px;
    }
  }

  .question-list-item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    border-top: 1px solid #e2e2e2;

    a {
      display: inline-block;
      font-family: 'q_serif',Georgia,Times,"Times New Roman","Hiragino Kaku Gothic Pro","Meiryo",serif;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.3;
      word-wrap: break-word;
      margin-bottom: 8px;
    }

    h3, h3 a {
      font-weight: 400;
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      color: #999;
      font-size: 13px;
      margin-bottom: 4px;
    }

    .write-answer-button {
      margin-top: 14px;
    }

    .answer-form {
      margin-top: 10px;
    }
  }
}
