.sidebar {
  margin-left: 32px;
  width: 142px;
}

.sidebar-topic-list {
  width: 142px;
  margin-right: 30px;
  word-wrap: break-word;
  font-size: 14px;

  li {
    height: 20px;
    font-size: 12px;
    color: #666666;

    margin-bottom: 5px;

    a:hover {
      text-decoration: none;
      color: #2b6dad;
    }
  }
}

.feed-sidebar {
  margin-top: 8px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.feed-sidebar-header {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 16px;
  height: 30px;
  font-size: 15px;
  font-weight: 500;

  .feed-sidebar-fixed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  button {
  background:none;
  color: #999999;
  border:none;
  padding:0;
  font: inherit;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  margin-left: 65px;
  }

  button:focus {
    border: none;
  }
}

.topic-search {
  margin-left: 10px;
  z-index: 4000;
  position: relative;
  bottom: 18px;
  left: 150px;
  background: white;
  border: 1px solid #e2e2e2;
  border-bottom: none;
  min-width: 250px;
  li {
    height: 47px;
    width: 100%px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #e2e2e2;
  }
  input {
    margin: 10px;
    height: 27px;
    padding-left: 10px;
    font-size: 14px;
  }
}

.topic-input-container {
  background-color: #f6f6f6;
}

.topic-search-bar {
  width: 250px;
  height: 20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.topic-search-list-item {
  padding-left: 5px;
}

.topic-search-list-item:hover {
  color: #2b6dad;
  text-decoration: none;
  background-color: #fbfbfb;
  padding-left: 5px;

  a:hover {
    text-decoration: none;
  }
}
