#topics-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-list {
  padding: 0;
}


.topic-list-item {
  background: white;
  border-radius: 4px;
  border: 1px solid #efefef;
  border-bottom: 1px solid #e2e2e2;
  padding-bottom: 16px;
  margin-bottom: 16px;

  .no-answers-message {
    padding-left: 16px;
    border-bottom: 1px solid #e2e2e2;
  }
}

.topic-list-item-footer {
  padding-top: 16px;
  text-align: center;
}

.topic-header  {
  border-bottom: 1px solid #e2e2e2;
  padding-left: 18px;
  padding-top: 12px;
  padding-bottom: 8px;

  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 15px;
  font-weight: 500;

}
